
.container {
    background: #ffffff;
    border-right: 15px solid white;
    border-left: 15px solid white;
    padding-top: 1%;
}
a {
    color: #247e36;
}
a:hover{
    color:#5bb75b;
}

.categoryBtn, .categoryBtn:active , .categoryBtn:focus , .categoryBtn:after{
    background-image: url('../images/flower.png');
    background-size: 100%;
    background-position: right;
    background-repeat: no-repeat;
    min-height:115px;
    background-color: transparent;
    border: none;
    font-size: 100%;
    font-weight: bold;
}
.categoryBtn:hover {
    background-color: transparent;
    width:105%;
    height: 105%;
}
.categoryBtn a {
    color: white;
    font-size: 70%;
    text-decoration: none;
}

#footer {
    color: #247e36;
    border-top: 1px solid #247e36;
    margin-top: 2%;
    padding-top:10px;
}

.divid {
    margin-bottom:1%;
    border-bottom: 2px solid #dfdedb;
}

#home-categories {
    border-radius: 30px;
    background-image: url('../images/bakground.png');
    background-size: 100%;
    background-position: right;
    background-repeat: no-repeat;
    height:auto;
}

@media (max-width : 995px) {
    #home-categories {

        background-size: 300% !important;
        height:auto;
    }
}