.navbar-default {
    background-color: white !important;
    border-color: white !important;
}

.navbar-default .navbar-nav > li > a, .dropdown-menu > li > a {
    color: white !important;
    top: 0px;
    position: relative;
    background-color: transparent !important;
    border-color: transparent !important;
    background-image: url("../images/button.png");
    background-size: 100%;
    background-position: right;
    background-repeat: no-repeat;
    padding: 16px 27px !important;
    width: 180px;
    padding-right: 11px;
    padding-left: 11px;
    margin-right: 0.5px;
    margin-left: 0.5px;
}

.dropdown-menu {
    background-color: transparent !important;
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: 0px 0px ;
    box-shadow: none;
    background-clip: none;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #d0d0d0 !important;
    border-color: none !important;
    background-image: url("../images/button.png");
}

.navbar-default .navbar-brand {
    color: #FFF !important;
}

.navbar-default {
}

.navbar-nav > li {
}

.navbar-nav > li.active {
    font-weight: bold;
    font-size: 100%;
}

.dropdown-menu > li {

}